version: '3.4'

services:
  otm-docker:
    image: jhassler/otm-docker:latest
    container_name: otm-docker
    environment:
      - LETSENCRYPT=0
      - EMAIL=admin@this.srv
      - DOMAIN=localhost
      - WHITELIST=127.0.0.1
    volumes:
      - ./data:/mnt
      - ./data/db:/var/lib/postgresql
      - ./data/letsencrypt:/etc/letsencrypt
    ports:
      - '80:80'
      - '443:443'
