version: '3.4'

services:
  maprenderer:
    image: maprenderer:latest
    container_name: maprenderer
    environment:
      - EMAIL=admin@this.srv
      - DOMAIN=maprenderer
      - WHITELIST=127.0.0.1
    volumes:
      - ./data:/mnt
      - ./data/db:/var/lib/postgresql
    ports:
      - '80:80'
      - '443:443'
